/* Write your CSS here */
.planets-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto';
  padding: 40px 0px;
}

.planets-title {
  color: #05acff;
  margin-top: 20px;
}

.sub-planets-container {
  width: 90%;
  max-width: 1140px;
  padding: 40px;
}

h1 {
  color: #fff;
}
